# -------------------------
# Python / FastAPI backend
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.db
.env
.venv/
event-mapper/        # conda env folder if created inside project

# Logs
*.log

# VSCode
.vscode/
*.code-workspace

# -------------------------
# Node / Next.js frontend
# -------------------------
node_modules/
.npm/
.next/
out/
dist/
coverage/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env.local
.env.development.local
.env.test.local
.env.production.local

# -------------------------
# OS / Misc
# -------------------------
.DS_Store
Thumbs.db
